{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
To what extent did you consider the following factors when you allocated the production time to the regional managers?
{% endblock %}

{% block content %}

{{ form.sfact7.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.sfact7.0.choice_label }}<br>{{ form.sfact7.0.tag}}</center></td>
        <td><center><br>{{ form.sfact7.1.tag}}</center></td>
        <td><center><br>{{ form.sfact7.2.tag}}</center></td>
        <td><center><br>{{ form.sfact7.3.tag}}</center></td>
        <td><center>{{ form.sfact7.4.choice_label }}<br>{{ form.sfact7.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.sfact8.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.sfact8.0.choice_label }}<br>{{ form.sfact8.0.tag}}</center></td>
        <td><center><br>{{ form.sfact8.1.tag}}</center></td>
        <td><center><br>{{ form.sfact8.2.tag}}</center></td>
        <td><center><br>{{ form.sfact8.3.tag}}</center></td>
        <td><center>{{ form.sfact8.4.choice_label }}<br>{{ form.sfact8.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.sfact9.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.sfact9.0.choice_label }}<br>{{ form.sfact9.0.tag}}</center></td>
        <td><center><br>{{ form.sfact9.1.tag}}</center></td>
        <td><center><br>{{ form.sfact9.2.tag}}</center></td>
        <td><center><br>{{ form.sfact9.3.tag}}</center></td>
        <td><center>{{ form.sfact9.4.choice_label }}<br>{{ form.sfact9.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.sfact10.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.sfact10.0.choice_label }}<br>{{ form.sfact10.0.tag}}</center></td>
        <td><center><br>{{ form.sfact10.1.tag}}</center></td>
        <td><center><br>{{ form.sfact10.2.tag}}</center></td>
        <td><center><br>{{ form.sfact10.3.tag}}</center></td>
        <td><center>{{ form.sfact10.4.choice_label }}<br>{{ form.sfact10.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.sfact11.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.sfact11.0.choice_label }}<br>{{ form.sfact11.0.tag}}</center></td>
        <td><center><br>{{ form.sfact11.1.tag}}</center></td>
        <td><center><br>{{ form.sfact11.2.tag}}</center></td>
        <td><center><br>{{ form.sfact11.3.tag}}</center></td>
        <td><center>{{ form.sfact11.4.choice_label }}<br>{{ form.sfact11.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.sfact12.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.sfact12.0.choice_label }}<br>{{ form.sfact12.0.tag}}</center></td>
        <td><center><br>{{ form.sfact12.1.tag}}</center></td>
        <td><center><br>{{ form.sfact12.2.tag}}</center></td>
        <td><center><br>{{ form.sfact12.3.tag}}</center></td>
        <td><center>{{ form.sfact12.4.choice_label }}<br>{{ form.sfact12.4.tag}}</center></td>
    </tr>
</table><br>

    {% next_button %}
{% endblock %}


