{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Please indicate the extent to which you agree or disagree with the following statements.
{% endblock %}

{% block content %}


{{ form.dark1.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.dark1.0.choice_label }}<br>{{ form.dark1.0.tag}}</center></td>
        <td><center><br>{{ form.dark1.1.tag}}</center></td>
        <td><center><br>{{ form.dark1.2.tag}}</center></td>
        <td><center><br>{{ form.dark1.3.tag}}</center></td>
        <td><center>{{ form.dark1.4.choice_label }}<br>{{ form.dark1.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.dark2.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.dark2.0.choice_label }}<br>{{ form.dark2.0.tag}}</center></td>
        <td><center><br>{{ form.dark2.1.tag}}</center></td>
        <td><center><br>{{ form.dark2.2.tag}}</center></td>
        <td><center><br>{{ form.dark2.3.tag}}</center></td>
        <td><center>{{ form.dark2.4.choice_label }}<br>{{ form.dark2.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.dark3.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.dark3.0.choice_label }}<br>{{ form.dark3.0.tag}}</center></td>
        <td><center><br>{{ form.dark3.1.tag}}</center></td>
        <td><center><br>{{ form.dark3.2.tag}}</center></td>
        <td><center><br>{{ form.dark3.3.tag}}</center></td>
        <td><center>{{ form.dark3.4.choice_label }}<br>{{ form.dark3.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.dark4.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.dark4.0.choice_label }}<br>{{ form.dark4.0.tag}}</center></td>
        <td><center><br>{{ form.dark4.1.tag}}</center></td>
        <td><center><br>{{ form.dark4.2.tag}}</center></td>
        <td><center><br>{{ form.dark4.3.tag}}</center></td>
        <td><center>{{ form.dark4.4.choice_label }}<br>{{ form.dark4.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.dark5.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.dark5.0.choice_label }}<br>{{ form.dark5.0.tag}}</center></td>
        <td><center><br>{{ form.dark5.1.tag}}</center></td>
        <td><center><br>{{ form.dark5.2.tag}}</center></td>
        <td><center><br>{{ form.dark5.3.tag}}</center></td>
        <td><center>{{ form.dark5.4.choice_label }}<br>{{ form.dark5.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.dark6.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.dark6.0.choice_label }}<br>{{ form.dark6.0.tag}}</center></td>
        <td><center><br>{{ form.dark6.1.tag}}</center></td>
        <td><center><br>{{ form.dark6.2.tag}}</center></td>
        <td><center><br>{{ form.dark6.3.tag}}</center></td>
        <td><center>{{ form.dark6.4.choice_label }}<br>{{ form.dark6.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.dark7.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.dark7.0.choice_label }}<br>{{ form.dark7.0.tag}}</center></td>
        <td><center><br>{{ form.dark7.1.tag}}</center></td>
        <td><center><br>{{ form.dark7.2.tag}}</center></td>
        <td><center><br>{{ form.dark7.3.tag}}</center></td>
         <td><center>{{ form.dark7.4.choice_label }}<br>{{ form.dark7.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.dark8.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.dark8.0.choice_label }}<br>{{ form.dark8.0.tag}}</center></td>
        <td><center><br>{{ form.dark8.1.tag}}</center></td>
        <td><center><br>{{ form.dark8.2.tag}}</center></td>
        <td><center><br>{{ form.dark8.3.tag}}</center></td>
        <td><center>{{ form.dark8.4.choice_label }}<br>{{ form.dark8.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.dark9.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.dark9.0.choice_label }}<br>{{ form.dark9.0.tag}}</center></td>
        <td><center><br>{{ form.dark9.1.tag}}</center></td>
        <td><center><br>{{ form.dark9.2.tag}}</center></td>
        <td><center><br>{{ form.dark9.3.tag}}</center></td>
        <td><center>{{ form.dark9.4.choice_label }}<br>{{ form.dark9.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.dark10.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.dark10.0.choice_label }}<br>{{ form.dark10.0.tag}}</center></td>
        <td><center><br>{{ form.dark10.1.tag}}</center></td>
        <td><center><br>{{ form.dark10.2.tag}}</center></td>
        <td><center><br>{{ form.dark10.3.tag}}</center></td>
        <td><center>{{ form.dark10.4.choice_label }}<br>{{ form.dark10.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.dark11.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.dark11.0.choice_label }}<br>{{ form.dark11.0.tag}}</center></td>
        <td><center><br>{{ form.dark11.1.tag}}</center></td>
        <td><center><br>{{ form.dark11.2.tag}}</center></td>
        <td><center><br>{{ form.dark11.3.tag}}</center></td>
        <td><center>{{ form.dark11.4.choice_label }}<br>{{ form.dark11.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.dark12.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.dark12.0.choice_label }}<br>{{ form.dark12.0.tag}}</center></td>
        <td><center><br>{{ form.dark12.1.tag}}</center></td>
        <td><center><br>{{ form.dark12.2.tag}}</center></td>
        <td><center><br>{{ form.dark12.3.tag}}</center></td>
        <td><center>{{ form.dark12.4.choice_label }}<br>{{ form.dark12.4.tag}}</center></td>
    </tr>
</table><br>

    {% next_button %}
{% endblock %}


