{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
To what extent have the following factors influenced your decision about whether to seek an emergency budget for each region?

{% endblock %}

{% block content %}

{{ form.emfact1.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.emfact1.0.choice_label }}<br>{{ form.emfact1.0.tag}}</center></td>
        <td><center><br>{{ form.emfact1.1.tag}}</center></td>
        <td><center><br>{{ form.emfact1.2.tag}}</center></td>
        <td><center><br>{{ form.emfact1.3.tag}}</center></td>
        <td><center>{{ form.emfact1.4.choice_label }}<br>{{ form.emfact1.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.emfact2.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.emfact2.0.choice_label }}<br>{{ form.emfact2.0.tag}}</center></td>
        <td><center><br>{{ form.emfact2.1.tag}}</center></td>
        <td><center><br>{{ form.emfact2.2.tag}}</center></td>
        <td><center><br>{{ form.emfact2.3.tag}}</center></td>
        <td><center>{{ form.emfact2.4.choice_label }}<br>{{ form.emfact2.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.emfact3.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.emfact3.0.choice_label }}<br>{{ form.emfact3.0.tag}}</center></td>
        <td><center><br>{{ form.emfact3.1.tag}}</center></td>
        <td><center><br>{{ form.emfact3.2.tag}}</center></td>
        <td><center><br>{{ form.emfact3.3.tag}}</center></td>
        <td><center>{{ form.emfact3.4.choice_label }}<br>{{ form.emfact3.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.emfact4.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.emfact4.0.choice_label }}<br>{{ form.emfact4.0.tag}}</center></td>
        <td><center><br>{{ form.emfact4.1.tag}}</center></td>
        <td><center><br>{{ form.emfact4.2.tag}}</center></td>
        <td><center><br>{{ form.emfact4.3.tag}}</center></td>
        <td><center>{{ form.emfact4.4.choice_label }}<br>{{ form.emfact4.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.emfact5.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.emfact5.0.choice_label }}<br>{{ form.emfact5.0.tag}}</center></td>
        <td><center><br>{{ form.emfact5.1.tag}}</center></td>
        <td><center><br>{{ form.emfact5.2.tag}}</center></td>
        <td><center><br>{{ form.emfact5.3.tag}}</center></td>
        <td><center>{{ form.emfact5.4.choice_label }}<br>{{ form.emfact5.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.emfact6.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.emfact6.0.choice_label }}<br>{{ form.emfact6.0.tag}}</center></td>
        <td><center><br>{{ form.emfact6.1.tag}}</center></td>
        <td><center><br>{{ form.emfact6.2.tag}}</center></td>
        <td><center><br>{{ form.emfact6.3.tag}}</center></td>
        <td><center>{{ form.emfact6.4.choice_label }}<br>{{ form.emfact6.4.tag}}</center></td>
    </tr>
</table><br>

    {% next_button %}
{% endblock %}


