{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
To what extent did you consider the following factors when you were reporting to the supervisor?
{% endblock %}

{% block content %}

{{ form.factor9.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.factor9.0.choice_label }}<br>{{ form.factor9.0.tag}}</center></td>
        <td><center><br>{{ form.factor9.1.tag}}</center></td>
        <td><center><br>{{ form.factor9.2.tag}}</center></td>
        <td><center><br>{{ form.factor9.3.tag}}</center></td>
         <td><center>{{ form.factor9.4.choice_label }}<br>{{ form.factor9.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.factor10.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.factor10.0.choice_label }}<br>{{ form.factor10.0.tag}}</center></td>
        <td><center><br>{{ form.factor10.1.tag}}</center></td>
        <td><center><br>{{ form.factor10.2.tag}}</center></td>
        <td><center><br>{{ form.factor10.3.tag}}</center></td>
         <td><center>{{ form.factor10.4.choice_label }}<br>{{ form.factor10.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.factor11.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.factor11.0.choice_label }}<br>{{ form.factor11.0.tag}}</center></td>
        <td><center><br>{{ form.factor11.1.tag}}</center></td>
        <td><center><br>{{ form.factor11.2.tag}}</center></td>
        <td><center><br>{{ form.factor11.3.tag}}</center></td>
         <td><center>{{ form.factor11.4.choice_label }}<br>{{ form.factor11.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.factor12.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.factor12.0.choice_label }}<br>{{ form.factor12.0.tag}}</center></td>
        <td><center><br>{{ form.factor12.1.tag}}</center></td>
        <td><center><br>{{ form.factor12.2.tag}}</center></td>
        <td><center><br>{{ form.factor12.3.tag}}</center></td>
         <td><center>{{ form.factor12.4.choice_label }}<br>{{ form.factor12.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.factor13.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.factor13.0.choice_label }}<br>{{ form.factor13.0.tag}}</center></td>
        <td><center><br>{{ form.factor13.1.tag}}</center></td>
        <td><center><br>{{ form.factor13.2.tag}}</center></td>
        <td><center><br>{{ form.factor13.3.tag}}</center></td>
         <td><center>{{ form.factor13.4.choice_label }}<br>{{ form.factor13.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.factor14.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.factor14.0.choice_label }}<br>{{ form.factor14.0.tag}}</center></td>
        <td><center><br>{{ form.factor14.1.tag}}</center></td>
        <td><center><br>{{ form.factor14.2.tag}}</center></td>
        <td><center><br>{{ form.factor14.3.tag}}</center></td>
         <td><center>{{ form.factor14.4.choice_label }}<br>{{ form.factor14.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.factor15.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.factor15.0.choice_label }}<br>{{ form.factor15.0.tag}}</center></td>
        <td><center><br>{{ form.factor15.1.tag}}</center></td>
        <td><center><br>{{ form.factor15.2.tag}}</center></td>
        <td><center><br>{{ form.factor15.3.tag}}</center></td>
         <td><center>{{ form.factor15.4.choice_label }}<br>{{ form.factor15.4.tag}}</center></td>
    </tr>
</table><br>

    {% next_button %}
{% endblock %}


