{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
To what extent did you consider the following factors when you were reporting to the supervisor?
{% endblock %}

{% block content %}



{{ form.factor1.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.factor1.0.choice_label }}<br>{{ form.factor1.0.tag}}</center></td>
        <td><center><br>{{ form.factor1.1.tag}}</center></td>
        <td><center><br>{{ form.factor1.2.tag}}</center></td>
        <td><center><br>{{ form.factor1.3.tag}}</center></td>
         <td><center>{{ form.factor1.4.choice_label }}<br>{{ form.factor1.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.factor2.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.factor2.0.choice_label }}<br>{{ form.factor2.0.tag}}</center></td>
        <td><center><br>{{ form.factor2.1.tag}}</center></td>
        <td><center><br>{{ form.factor2.2.tag}}</center></td>
        <td><center><br>{{ form.factor2.3.tag}}</center></td>
         <td><center>{{ form.factor2.4.choice_label }}<br>{{ form.factor2.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.factor3.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.factor3.0.choice_label }}<br>{{ form.factor3.0.tag}}</center></td>
        <td><center><br>{{ form.factor3.1.tag}}</center></td>
        <td><center><br>{{ form.factor3.2.tag}}</center></td>
        <td><center><br>{{ form.factor3.3.tag}}</center></td>
         <td><center>{{ form.factor3.4.choice_label }}<br>{{ form.factor3.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.factor4.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.factor4.0.choice_label }}<br>{{ form.factor4.0.tag}}</center></td>
        <td><center><br>{{ form.factor4.1.tag}}</center></td>
        <td><center><br>{{ form.factor4.2.tag}}</center></td>
        <td><center><br>{{ form.factor4.3.tag}}</center></td>
         <td><center>{{ form.factor4.4.choice_label }}<br>{{ form.factor4.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.factor5.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.factor5.0.choice_label }}<br>{{ form.factor5.0.tag}}</center></td>
        <td><center><br>{{ form.factor5.1.tag}}</center></td>
        <td><center><br>{{ form.factor5.2.tag}}</center></td>
        <td><center><br>{{ form.factor5.3.tag}}</center></td>
         <td><center>{{ form.factor5.4.choice_label }}<br>{{ form.factor5.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.factor6.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.factor6.0.choice_label }}<br>{{ form.factor6.0.tag}}</center></td>
        <td><center><br>{{ form.factor6.1.tag}}</center></td>
        <td><center><br>{{ form.factor6.2.tag}}</center></td>
        <td><center><br>{{ form.factor6.3.tag}}</center></td>
         <td><center>{{ form.factor6.4.choice_label }}<br>{{ form.factor6.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.factor7.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.factor7.0.choice_label }}<br>{{ form.factor7.0.tag}}</center></td>
        <td><center><br>{{ form.factor7.1.tag}}</center></td>
        <td><center><br>{{ form.factor7.2.tag}}</center></td>
        <td><center><br>{{ form.factor7.3.tag}}</center></td>
         <td><center>{{ form.factor7.4.choice_label }}<br>{{ form.factor7.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.factor8.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.factor8.0.choice_label }}<br>{{ form.factor8.0.tag}}</center></td>
        <td><center><br>{{ form.factor8.1.tag}}</center></td>
        <td><center><br>{{ form.factor8.2.tag}}</center></td>
        <td><center><br>{{ form.factor8.3.tag}}</center></td>
         <td><center>{{ form.factor8.4.choice_label }}<br>{{ form.factor8.4.tag}}</center></td>
    </tr>
</table><br>

    {% next_button %}
{% endblock %}


