{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Please indicate how accurate each statement describes the work climate at AC Company (the company that you work for).

{% endblock %}

{% block content %}


{{ form.safety1.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.safety1.0.choice_label }}<br>{{ form.safety1.0.tag}}</center></td>
        <td><center><br>{{ form.safety1.1.tag}}</center></td>
        <td><center><br>{{ form.safety1.2.tag}}</center></td>
        <td><center><br>{{ form.safety1.3.tag}}</center></td>
        <td><center>{{ form.safety1.4.choice_label }}<br>{{ form.safety1.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.safety2.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.safety2.0.choice_label }}<br>{{ form.safety2.0.tag}}</center></td>
        <td><center><br>{{ form.safety2.1.tag}}</center></td>
        <td><center><br>{{ form.safety2.2.tag}}</center></td>
        <td><center><br>{{ form.safety2.3.tag}}</center></td>
        <td><center>{{ form.safety2.4.choice_label }}<br>{{ form.safety2.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.safety3.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.safety3.0.choice_label }}<br>{{ form.safety3.0.tag}}</center></td>
        <td><center><br>{{ form.safety3.1.tag}}</center></td>
        <td><center><br>{{ form.safety3.2.tag}}</center></td>
        <td><center><br>{{ form.safety3.3.tag}}</center></td>
        <td><center>{{ form.safety3.4.choice_label }}<br>{{ form.safety3.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.safety4.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center>{{ form.safety4.0.choice_label }}<br>{{ form.safety4.0.tag}}</center></td>
        <td><center><br>{{ form.safety4.1.tag}}</center></td>
        <td><center><br>{{ form.safety4.2.tag}}</center></td>
        <td><center><br>{{ form.safety4.3.tag}}</center></td>
        <td><center>{{ form.safety4.4.choice_label }}<br>{{ form.safety4.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.safety5.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.safety5.0.choice_label }}<br>{{ form.safety5.0.tag}}</center></td>
        <td><center><br>{{ form.safety5.1.tag}}</center></td>
        <td><center><br>{{ form.safety5.2.tag}}</center></td>
        <td><center><br>{{ form.safety5.3.tag}}</center></td>
        <td><center>{{ form.safety5.4.choice_label }}<br>{{ form.safety5.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.safety6.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.safety6.0.choice_label }}<br>{{ form.safety6.0.tag}}</center></td>
        <td><center><br>{{ form.safety6.1.tag}}</center></td>
        <td><center><br>{{ form.safety6.2.tag}}</center></td>
        <td><center><br>{{ form.safety6.3.tag}}</center></td>
        <td><center>{{ form.safety6.4.choice_label }}<br>{{ form.safety6.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.safety7.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.safety7.0.choice_label }}<br>{{ form.safety7.0.tag}}</center></td>
        <td><center><br>{{ form.safety7.1.tag}}</center></td>
        <td><center><br>{{ form.safety7.2.tag}}</center></td>
        <td><center><br>{{ form.safety7.3.tag}}</center></td>
        <td><center>{{ form.safety7.4.choice_label }}<br>{{ form.safety7.4.tag}}</center></td>
    </tr>
</table><br>


    {% next_button %}
{% endblock %}


