{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
To what extent do you agree or disagree with the following statements?
{% endblock %}

{% block content %}



{{ form.trust1.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.trust1.0.choice_label }}<br>{{ form.trust1.0.tag}}</center></td>
        <td><center><br>{{ form.trust1.1.tag}}</center></td>
        <td><center><br>{{ form.trust1.2.tag}}</center></td>
        <td><center><br>{{ form.trust1.3.tag}}</center></td>
         <td><center>{{ form.trust1.4.choice_label }}<br>{{ form.trust1.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.trust2.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.trust2.0.choice_label }}<br>{{ form.trust2.0.tag}}</center></td>
        <td><center><br>{{ form.trust2.1.tag}}</center></td>
        <td><center><br>{{ form.trust2.2.tag}}</center></td>
        <td><center><br>{{ form.trust2.3.tag}}</center></td>
         <td><center>{{ form.trust2.4.choice_label }}<br>{{ form.trust2.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.trust3.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.trust3.0.choice_label }}<br>{{ form.trust3.0.tag}}</center></td>
        <td><center><br>{{ form.trust3.1.tag}}</center></td>
        <td><center><br>{{ form.trust3.2.tag}}</center></td>
        <td><center><br>{{ form.trust3.3.tag}}</center></td>
         <td><center>{{ form.trust3.4.choice_label }}<br>{{ form.trust3.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.trust4.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.trust4.0.choice_label }}<br>{{ form.trust4.0.tag}}</center></td>
        <td><center><br>{{ form.trust4.1.tag}}</center></td>
        <td><center><br>{{ form.trust4.2.tag}}</center></td>
        <td><center><br>{{ form.trust4.3.tag}}</center></td>
         <td><center>{{ form.trust4.4.choice_label }}<br>{{ form.trust4.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.trust5.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.trust5.0.choice_label }}<br>{{ form.trust5.0.tag}}</center></td>
        <td><center><br>{{ form.trust5.1.tag}}</center></td>
        <td><center><br>{{ form.trust5.2.tag}}</center></td>
        <td><center><br>{{ form.trust5.3.tag}}</center></td>
         <td><center>{{ form.trust5.4.choice_label }}<br>{{ form.trust5.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.trust6.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.trust6.0.choice_label }}<br>{{ form.trust6.0.tag}}</center></td>
        <td><center><br>{{ form.trust6.1.tag}}</center></td>
        <td><center><br>{{ form.trust6.2.tag}}</center></td>
        <td><center><br>{{ form.trust6.3.tag}}</center></td>
         <td><center>{{ form.trust6.4.choice_label }}<br>{{ form.trust6.4.tag}}</center></td>
    </tr>
</table><br>

    {% next_button %}
{% endblock %}


