{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Please indicate the extent to which you agree or disagree with the following statements.
{% endblock %}

{% block content %}


{{ form.closure8.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.closure8.0.choice_label }}<br>{{ form.closure8.0.tag}}</center></td>
        <td><center><br>{{ form.closure8.1.tag}}</center></td>
        <td><center><br>{{ form.closure8.2.tag}}</center></td>
        <td><center><br>{{ form.closure8.3.tag}}</center></td>
        <td><center>{{ form.closure8.4.choice_label }}<br>{{ form.closure8.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.closure9.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.closure9.0.choice_label }}<br>{{ form.closure9.0.tag}}</center></td>
        <td><center><br>{{ form.closure9.1.tag}}</center></td>
        <td><center><br>{{ form.closure9.2.tag}}</center></td>
        <td><center><br>{{ form.closure9.3.tag}}</center></td>
        <td><center>{{ form.closure9.4.choice_label }}<br>{{ form.closure9.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.closure10.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.closure10.0.choice_label }}<br>{{ form.closure10.0.tag}}</center></td>
        <td><center><br>{{ form.closure10.1.tag}}</center></td>
        <td><center><br>{{ form.closure10.2.tag}}</center></td>
        <td><center><br>{{ form.closure10.3.tag}}</center></td>
        <td><center>{{ form.closure10.4.choice_label }}<br>{{ form.closure10.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.closure11.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.closure11.0.choice_label }}<br>{{ form.closure11.0.tag}}</center></td>
        <td><center><br>{{ form.closure11.1.tag}}</center></td>
        <td><center><br>{{ form.closure11.2.tag}}</center></td>
        <td><center><br>{{ form.closure11.3.tag}}</center></td>
        <td><center>{{ form.closure11.4.choice_label }}<br>{{ form.closure11.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.closure12.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.closure12.0.choice_label }}<br>{{ form.closure12.0.tag}}</center></td>
        <td><center><br>{{ form.closure12.1.tag}}</center></td>
        <td><center><br>{{ form.closure12.2.tag}}</center></td>
        <td><center><br>{{ form.closure12.3.tag}}</center></td>
        <td><center>{{ form.closure12.4.choice_label }}<br>{{ form.closure12.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.closure13.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.closure13.0.choice_label }}<br>{{ form.closure13.0.tag}}</center></td>
        <td><center><br>{{ form.closure13.1.tag}}</center></td>
        <td><center><br>{{ form.closure13.2.tag}}</center></td>
        <td><center><br>{{ form.closure13.3.tag}}</center></td>
        <td><center>{{ form.closure13.4.choice_label }}<br>{{ form.closure13.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.closure14.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.closure14.0.choice_label }}<br>{{ form.closure14.0.tag}}</center></td>
        <td><center><br>{{ form.closure14.1.tag}}</center></td>
        <td><center><br>{{ form.closure14.2.tag}}</center></td>
        <td><center><br>{{ form.closure14.3.tag}}</center></td>
        <td><center>{{ form.closure14.4.choice_label }}<br>{{ form.closure14.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.closure15.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.closure15.0.choice_label }}<br>{{ form.closure15.0.tag}}</center></td>
        <td><center><br>{{ form.closure15.1.tag}}</center></td>
        <td><center><br>{{ form.closure15.2.tag}}</center></td>
        <td><center><br>{{ form.closure15.3.tag}}</center></td>
        <td><center>{{ form.closure15.4.choice_label }}<br>{{ form.closure15.4.tag}}</center></td>
    </tr>
</table><br>


    {% next_button %}
{% endblock %}


