{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
How well do you think you performed the sandwich making task?
{% endblock %}

{% block content %}

{{ form.perf1.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.perf1.0.choice_label }}<br>{{ form.perf1.0.tag}}</center></td>
        <td><center><br>{{ form.perf1.1.tag}}</center></td>
        <td><center><br>{{ form.perf1.2.tag}}</center></td>
        <td><center><br>{{ form.perf1.3.tag}}</center></td>
         <td><center>{{ form.perf1.4.choice_label }}<br>{{ form.perf1.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.perf2.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.perf2.0.choice_label }}<br>{{ form.perf2.0.tag}}</center></td>
        <td><center><br>{{ form.perf2.1.tag}}</center></td>
        <td><center><br>{{ form.perf2.2.tag}}</center></td>
        <td><center><br>{{ form.perf2.3.tag}}</center></td>
         <td><center>{{ form.perf2.4.choice_label }}<br>{{ form.perf2.4.tag}}</center></td>
    </tr>
</table><br>
    {% next_button %}

{% endblock %}
