{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
How important was it for you to ...........
{% endblock %}

{% block content %}

{{ form.repimp1.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.repimp1.0.choice_label }}<br>{{ form.repimp1.0.tag}}</center></td>
        <td><center><br>{{ form.repimp1.1.tag}}</center></td>
        <td><center><br>{{ form.repimp1.2.tag}}</center></td>
        <td><center><br>{{ form.repimp1.3.tag}}</center></td>
         <td><center>{{ form.repimp1.4.choice_label }}<br>{{ form.repimp1.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.repimp2.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.repimp2.0.choice_label }}<br>{{ form.repimp2.0.tag}}</center></td>
        <td><center><br>{{ form.repimp2.1.tag}}</center></td>
        <td><center><br>{{ form.repimp2.2.tag}}</center></td>
        <td><center><br>{{ form.repimp2.3.tag}}</center></td>
         <td><center>{{ form.repimp2.4.choice_label }}<br>{{ form.repimp2.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.repimp3.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.repimp3.0.choice_label }}<br>{{ form.repimp3.0.tag}}</center></td>
        <td><center><br>{{ form.repimp3.1.tag}}</center></td>
        <td><center><br>{{ form.repimp3.2.tag}}</center></td>
        <td><center><br>{{ form.repimp3.3.tag}}</center></td>
         <td><center>{{ form.repimp3.4.choice_label }}<br>{{ form.repimp3.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.repimp4.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.repimp4.0.choice_label }}<br>{{ form.repimp4.0.tag}}</center></td>
        <td><center><br>{{ form.repimp4.1.tag}}</center></td>
        <td><center><br>{{ form.repimp4.2.tag}}</center></td>
        <td><center><br>{{ form.repimp4.3.tag}}</center></td>
         <td><center>{{ form.repimp4.4.choice_label }}<br>{{ form.repimp4.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.repimp5.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.repimp5.0.choice_label }}<br>{{ form.repimp5.0.tag}}</center></td>
        <td><center><br>{{ form.repimp5.1.tag}}</center></td>
        <td><center><br>{{ form.repimp5.2.tag}}</center></td>
        <td><center><br>{{ form.repimp5.3.tag}}</center></td>
         <td><center>{{ form.repimp5.4.choice_label }}<br>{{ form.repimp5.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.repimp6.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.repimp6.0.choice_label }}<br>{{ form.repimp6.0.tag}}</center></td>
        <td><center><br>{{ form.repimp6.1.tag}}</center></td>
        <td><center><br>{{ form.repimp6.2.tag}}</center></td>
        <td><center><br>{{ form.repimp6.3.tag}}</center></td>
         <td><center>{{ form.repimp6.4.choice_label }}<br>{{ form.repimp6.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.repimp7.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.repimp7.0.choice_label }}<br>{{ form.repimp7.0.tag}}</center></td>
        <td><center><br>{{ form.repimp7.1.tag}}</center></td>
        <td><center><br>{{ form.repimp7.2.tag}}</center></td>
        <td><center><br>{{ form.repimp7.3.tag}}</center></td>
         <td><center>{{ form.repimp7.4.choice_label }}<br>{{ form.repimp7.4.tag}}</center></td>
    </tr>
</table><br>

    {% next_button %}
{% endblock %}


