{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}

{{ form.north3.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.north3.0.choice_label }}<br>{{ form.north3.0.tag}}</center></td>
        <td><center><br>{{ form.north3.1.tag}}</center></td>
        <td><center><br>{{ form.north3.2.tag}}</center></td>
        <td><center><br>{{ form.north3.3.tag}}</center></td>
        <td><center>{{ form.north3.4.choice_label }}<br>{{ form.north3.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.north4.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.north4.0.choice_label }}<br>{{ form.north4.0.tag}}</center></td>
        <td><center><br>{{ form.north4.1.tag}}</center></td>
        <td><center><br>{{ form.north4.2.tag}}</center></td>
        <td><center><br>{{ form.north4.3.tag}}</center></td>
        <td><center>{{ form.north4.4.choice_label }}<br>{{ form.north4.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.south3.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.south3.0.choice_label }}<br>{{ form.south3.0.tag}}</center></td>
        <td><center><br>{{ form.south3.1.tag}}</center></td>
        <td><center><br>{{ form.south3.2.tag}}</center></td>
        <td><center><br>{{ form.south3.3.tag}}</center></td>
        <td><center>{{ form.south3.4.choice_label }}<br>{{ form.south3.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.south4.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.south4.0.choice_label }}<br>{{ form.south4.0.tag}}</center></td>
        <td><center><br>{{ form.south4.1.tag}}</center></td>
        <td><center><br>{{ form.south4.2.tag}}</center></td>
        <td><center><br>{{ form.south4.3.tag}}</center></td>
        <td><center>{{ form.south4.4.choice_label }}<br>{{ form.south4.4.tag}}</center></td>
    </tr>
</table><br>

    {% next_button %}
{% endblock %}


