{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Please indicate the extent to which you agree or disagree with the following statements.
{% endblock %}

{% block content %}


{{ form.riskat7.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center>{{ form.riskat7.0.choice_label }}<br>{{ form.riskat7.0.tag}}</center></td>
        <td><center><br>{{ form.riskat7.1.tag}}</center></td>
        <td><center><br>{{ form.riskat7.2.tag}}</center></td>
        <td><center><br>{{ form.riskat7.3.tag}}</center></td>
        <td><center><br>{{ form.riskat7.4.tag}}</center></td>
        <td><center><br>{{ form.riskat7.5.tag}}</center></td>
        <td><center>{{ form.riskat7.6.choice_label }}<br>{{ form.riskat7.6.tag}}</center></td>
    </tr>
</table><br>

{{ form.riskat8.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center>{{ form.riskat8.0.choice_label }}<br>{{ form.riskat8.0.tag}}</center></td>
        <td><center><br>{{ form.riskat8.1.tag}}</center></td>
        <td><center><br>{{ form.riskat8.2.tag}}</center></td>
        <td><center><br>{{ form.riskat8.3.tag}}</center></td>
        <td><center><br>{{ form.riskat8.4.tag}}</center></td>
        <td><center><br>{{ form.riskat8.5.tag}}</center></td>
        <td><center>{{ form.riskat8.6.choice_label }}<br>{{ form.riskat8.6.tag}}</center></td>
    </tr>
</table><br>

{{ form.riskat9.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center>{{ form.riskat9.0.choice_label }}<br>{{ form.riskat9.0.tag}}</center></td>
        <td><center><br>{{ form.riskat9.1.tag}}</center></td>
        <td><center><br>{{ form.riskat9.2.tag}}</center></td>
        <td><center><br>{{ form.riskat9.3.tag}}</center></td>
        <td><center><br>{{ form.riskat9.4.tag}}</center></td>
        <td><center><br>{{ form.riskat9.5.tag}}</center></td>
        <td><center>{{ form.riskat9.6.choice_label }}<br>{{ form.riskat9.6.tag}}</center></td>
    </tr>
</table><br>

{{ form.riskat10.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center>{{ form.riskat10.0.choice_label }}<br>{{ form.riskat10.0.tag}}</center></td>
        <td><center><br>{{ form.riskat10.1.tag}}</center></td>
        <td><center><br>{{ form.riskat10.2.tag}}</center></td>
        <td><center><br>{{ form.riskat10.3.tag}}</center></td>
        <td><center><br>{{ form.riskat10.4.tag}}</center></td>
        <td><center><br>{{ form.riskat10.5.tag}}</center></td>
        <td><center>{{ form.riskat10.6.choice_label }}<br>{{ form.riskat10.6.tag}}</center></td>
    </tr>
</table><br>

{{ form.riskat11.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center>{{ form.riskat11.0.choice_label }}<br>{{ form.riskat11.0.tag}}</center></td>
        <td><center><br>{{ form.riskat11.1.tag}}</center></td>
        <td><center><br>{{ form.riskat11.2.tag}}</center></td>
        <td><center><br>{{ form.riskat11.3.tag}}</center></td>
        <td><center><br>{{ form.riskat11.4.tag}}</center></td>
        <td><center><br>{{ form.riskat11.5.tag}}</center></td>
        <td><center>{{ form.riskat11.6.choice_label }}<br>{{ form.riskat11.6.tag}}</center></td>
    </tr>
</table><br>

    {% next_button %}
{% endblock %}


