{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Please indicate the extent to which you agree or disagree with the following statements.
{% endblock %}

{% block content %}


{{ form.riskav1.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center>{{ form.riskav1.0.choice_label }}<br>{{ form.riskav1.0.tag}}</center></td>
        <td><center><br>{{ form.riskav1.1.tag}}</center></td>
        <td><center><br>{{ form.riskav1.2.tag}}</center></td>
        <td><center><br>{{ form.riskav1.3.tag}}</center></td>
        <td><center><br>{{ form.riskav1.4.tag}}</center></td>
        <td><center><br>{{ form.riskav1.5.tag}}</center></td>
        <td><center>{{ form.riskav1.6.choice_label }}<br>{{ form.riskav1.6.tag}}</center></td>
    </tr>
</table><br>

{{ form.riskav2.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center>{{ form.riskav2.0.choice_label }}<br>{{ form.riskav2.0.tag}}</center></td>
        <td><center><br>{{ form.riskav2.1.tag}}</center></td>
        <td><center><br>{{ form.riskav2.2.tag}}</center></td>
        <td><center><br>{{ form.riskav2.3.tag}}</center></td>
        <td><center><br>{{ form.riskav2.4.tag}}</center></td>
        <td><center><br>{{ form.riskav2.5.tag}}</center></td>
        <td><center>{{ form.riskav2.6.choice_label }}<br>{{ form.riskav2.6.tag}}</center></td>
    </tr>
</table><br>

{{ form.riskav3.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center>{{ form.riskav3.0.choice_label }}<br>{{ form.riskav3.0.tag}}</center></td>
        <td><center><br>{{ form.riskav3.1.tag}}</center></td>
        <td><center><br>{{ form.riskav3.2.tag}}</center></td>
        <td><center><br>{{ form.riskav3.3.tag}}</center></td>
        <td><center><br>{{ form.riskav3.4.tag}}</center></td>
        <td><center><br>{{ form.riskav3.5.tag}}</center></td>
        <td><center>{{ form.riskav3.6.choice_label }}<br>{{ form.riskav3.6.tag}}</center></td>
    </tr>
</table><br>

{{ form.riskav4.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center>{{ form.riskav4.0.choice_label }}<br>{{ form.riskav4.0.tag}}</center></td>
        <td><center><br>{{ form.riskav4.1.tag}}</center></td>
        <td><center><br>{{ form.riskav4.2.tag}}</center></td>
        <td><center><br>{{ form.riskav4.3.tag}}</center></td>
        <td><center><br>{{ form.riskav4.4.tag}}</center></td>
        <td><center><br>{{ form.riskav4.5.tag}}</center></td>
        <td><center>{{ form.riskav4.6.choice_label }}<br>{{ form.riskav4.6.tag}}</center></td>
    </tr>
</table><br>

{{ form.riskav5.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center>{{ form.riskav5.0.choice_label }}<br>{{ form.riskav5.0.tag}}</center></td>
        <td><center><br>{{ form.riskav5.1.tag}}</center></td>
        <td><center><br>{{ form.riskav5.2.tag}}</center></td>
        <td><center><br>{{ form.riskav5.3.tag}}</center></td>
        <td><center><br>{{ form.riskav5.4.tag}}</center></td>
        <td><center><br>{{ form.riskav5.5.tag}}</center></td>
        <td><center>{{ form.riskav5.6.choice_label }}<br>{{ form.riskav5.6.tag}}</center></td>
    </tr>
</table><br>

{{ form.riskav6.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center>{{ form.riskav6.0.choice_label }}<br>{{ form.riskav6.0.tag}}</center></td>
        <td><center><br>{{ form.riskav6.1.tag}}</center></td>
        <td><center><br>{{ form.riskav6.2.tag}}</center></td>
        <td><center><br>{{ form.riskav6.3.tag}}</center></td>
        <td><center><br>{{ form.riskav6.4.tag}}</center></td>
        <td><center><br>{{ form.riskav6.5.tag}}</center></td>
        <td><center>{{ form.riskav6.6.choice_label }}<br>{{ form.riskav1.6.tag}}</center></td>
    </tr>
</table><br>

    {% next_button %}
{% endblock %}


