{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Please indicate the extent to which you agree or disagree with the following statements.
{% endblock %}

{% block content %}


{{ form.riskat1.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center>{{ form.riskat1.0.choice_label }}<br>{{ form.riskat1.0.tag}}</center></td>
        <td><center><br>{{ form.riskat1.1.tag}}</center></td>
        <td><center><br>{{ form.riskat1.2.tag}}</center></td>
        <td><center><br>{{ form.riskat1.3.tag}}</center></td>
        <td><center><br>{{ form.riskat2.4.tag}}</center></td>
        <td><center><br>{{ form.riskat2.5.tag}}</center></td>
        <td><center>{{ form.riskat1.6.choice_label }}<br>{{ form.riskat1.6.tag}}</center></td>
    </tr>
</table><br>

{{ form.riskat2.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center>{{ form.riskat2.0.choice_label }}<br>{{ form.riskat2.0.tag}}</center></td>
        <td><center><br>{{ form.riskat2.1.tag}}</center></td>
        <td><center><br>{{ form.riskat2.2.tag}}</center></td>
        <td><center><br>{{ form.riskat2.3.tag}}</center></td>
        <td><center><br>{{ form.riskat2.4.tag}}</center></td>
        <td><center><br>{{ form.riskat2.5.tag}}</center></td>
        <td><center>{{ form.riskat2.6.choice_label }}<br>{{ form.riskat2.6.tag}}</center></td>
    </tr>
</table><br>

{{ form.riskat3.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center>{{ form.riskat3.0.choice_label }}<br>{{ form.riskat3.0.tag}}</center></td>
        <td><center><br>{{ form.riskat3.1.tag}}</center></td>
        <td><center><br>{{ form.riskat3.2.tag}}</center></td>
        <td><center><br>{{ form.riskat3.3.tag}}</center></td>
        <td><center><br>{{ form.riskat3.4.tag}}</center></td>
        <td><center><br>{{ form.riskat3.5.tag}}</center></td>
        <td><center>{{ form.riskat3.6.choice_label }}<br>{{ form.riskat3.6.tag}}</center></td>
    </tr>
</table><br>

{{ form.riskat4.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center>{{ form.riskat4.0.choice_label }}<br>{{ form.riskat4.0.tag}}</center></td>
        <td><center><br>{{ form.riskat4.1.tag}}</center></td>
        <td><center><br>{{ form.riskat4.2.tag}}</center></td>
        <td><center><br>{{ form.riskat4.3.tag}}</center></td>
        <td><center><br>{{ form.riskat4.4.tag}}</center></td>
        <td><center><br>{{ form.riskat4.5.tag}}</center></td>
        <td><center>{{ form.riskat4.6.choice_label }}<br>{{ form.riskat4.6.tag}}</center></td>
    </tr>
</table><br>

{{ form.riskat5.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center>{{ form.riskat5.0.choice_label }}<br>{{ form.riskat5.0.tag}}</center></td>
        <td><center><br>{{ form.riskat5.1.tag}}</center></td>
        <td><center><br>{{ form.riskat5.2.tag}}</center></td>
        <td><center><br>{{ form.riskat5.3.tag}}</center></td>
        <td><center><br>{{ form.riskat5.4.tag}}</center></td>
        <td><center><br>{{ form.riskat5.5.tag}}</center></td>
        <td><center>{{ form.riskat5.6.choice_label }}<br>{{ form.riskat5.6.tag}}</center></td>
    </tr>
</table><br>

{{ form.riskat6.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center>{{ form.riskat6.0.choice_label }}<br>{{ form.riskat6.0.tag}}</center></td>
        <td><center><br>{{ form.riskat6.1.tag}}</center></td>
        <td><center><br>{{ form.riskat6.2.tag}}</center></td>
        <td><center><br>{{ form.riskat6.3.tag}}</center></td>
        <td><center><br>{{ form.riskat6.4.tag}}</center></td>
        <td><center><br>{{ form.riskat6.5.tag}}</center></td>
        <td><center>{{ form.riskat6.6.choice_label }}<br>{{ form.riskat1.6.tag}}</center></td>
    </tr>
</table><br>

    {% next_button %}
{% endblock %}


