{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
I felt that ............................. if I reported the risks that I was exposed to.
{% endblock %}

{% block content %}


{{ form.sup1.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center>{{ form.sup1.0.choice_label }}<br>{{ form.sup1.0.tag}}</center></td>
        <td><center><br>{{ form.sup1.1.tag}}</center></td>
        <td><center><br>{{ form.sup1.2.tag}}</center></td>
        <td><center><br>{{ form.sup1.3.tag}}</center></td>
         <td><center>{{ form.sup1.4.choice_label }}<br>{{ form.sup1.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.sup2.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center>{{ form.sup2.0.choice_label }}<br>{{ form.sup2.0.tag}}</center></td>
        <td><center><br>{{ form.sup2.1.tag}}</center></td>
        <td><center><br>{{ form.sup2.2.tag}}</center></td>
        <td><center><br>{{ form.sup2.3.tag}}</center></td>
         <td><center>{{ form.sup2.4.choice_label }}<br>{{ form.sup2.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.sup3.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center>{{ form.sup3.0.choice_label }}<br>{{ form.sup3.0.tag}}</center></td>
        <td><center><br>{{ form.sup3.1.tag}}</center></td>
        <td><center><br>{{ form.sup3.2.tag}}</center></td>
        <td><center><br>{{ form.sup3.3.tag}}</center></td>
         <td><center>{{ form.sup3.4.choice_label }}<br>{{ form.sup3.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.sup4.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center>{{ form.sup4.0.choice_label }}<br>{{ form.sup4.0.tag}}</center></td>
        <td><center><br>{{ form.sup4.1.tag}}</center></td>
        <td><center><br>{{ form.sup4.2.tag}}</center></td>
        <td><center><br>{{ form.sup4.3.tag}}</center></td>
         <td><center>{{ form.sup4.4.choice_label }}<br>{{ form.sup4.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.sup5.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center>{{ form.sup5.0.choice_label }}<br>{{ form.sup5.0.tag}}</center></td>
        <td><center><br>{{ form.sup5.1.tag}}</center></td>
        <td><center><br>{{ form.sup5.2.tag}}</center></td>
        <td><center><br>{{ form.sup5.3.tag}}</center></td>
         <td><center>{{ form.sup5.4.choice_label }}<br>{{ form.sup5.4.tag}}</center></td>
    </tr>
</table><br>

    {% next_button %}
{% endblock %}


