{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Please indicate the extent to which you agree or disagree with the following statements.

{% endblock %}

{% block content %}

{{ form.unc1.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.unc1.0.choice_label }}<br>{{ form.unc1.0.tag}}</center></td>
        <td><center><br>{{ form.unc1.1.tag}}</center></td>
        <td><center><br>{{ form.unc1.2.tag}}</center></td>
        <td><center><br>{{ form.unc1.3.tag}}</center></td>
        <td><center>{{ form.unc1.4.choice_label }}<br>{{ form.unc1.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.unc2.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.unc2.0.choice_label }}<br>{{ form.unc2.0.tag}}</center></td>
        <td><center><br>{{ form.unc2.1.tag}}</center></td>
        <td><center><br>{{ form.unc2.2.tag}}</center></td>
        <td><center><br>{{ form.unc2.3.tag}}</center></td>
        <td><center>{{ form.unc2.4.choice_label }}<br>{{ form.unc2.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.unc3.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.unc3.0.choice_label }}<br>{{ form.unc3.0.tag}}</center></td>
        <td><center><br>{{ form.unc3.1.tag}}</center></td>
        <td><center><br>{{ form.unc3.2.tag}}</center></td>
        <td><center><br>{{ form.unc3.3.tag}}</center></td>
        <td><center>{{ form.unc3.4.choice_label }}<br>{{ form.unc3.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.unc4.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.unc4.0.choice_label }}<br>{{ form.unc4.0.tag}}</center></td>
        <td><center><br>{{ form.unc4.1.tag}}</center></td>
        <td><center><br>{{ form.unc4.2.tag}}</center></td>
        <td><center><br>{{ form.unc4.3.tag}}</center></td>
        <td><center>{{ form.unc4.4.choice_label }}<br>{{ form.unc4.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.unc5.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.unc5.0.choice_label }}<br>{{ form.unc5.0.tag}}</center></td>
        <td><center><br>{{ form.unc5.1.tag}}</center></td>
        <td><center><br>{{ form.unc5.2.tag}}</center></td>
        <td><center><br>{{ form.unc5.3.tag}}</center></td>
         <td><center>{{ form.unc5.4.choice_label }}<br>{{ form.unc5.4.tag}}</center></td>
    </tr>
</table><br>

{{ form.unc6.label }}<br>
<table style="table-layout: fixed; width: 100%;">
    <tr>
        <td><center><br></center></td>
        <td><center><br></center></td>
        <td><center>{{ form.unc6.0.choice_label }}<br>{{ form.unc6.0.tag}}</center></td>
        <td><center><br>{{ form.unc6.1.tag}}</center></td>
        <td><center><br>{{ form.unc6.2.tag}}</center></td>
        <td><center><br>{{ form.unc6.3.tag}}</center></td>
        <td><center>{{ form.unc6.4.choice_label }}<br>{{ form.unc6.4.tag}}</center></td>
    </tr>
</table><br>


    {% next_button %}
{% endblock %}


